.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
venv/
.venv/
build/
dist/
*.egg-info/
mlruns/
mlartifacts/
wandb/
artifacts/
logs/
notebooks/
tests/
test_data/
.github/
.pre-commit-config.yaml
.env
